<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
     initial-scale=1.0">
     <link rel="stylesheet" href="../public/css/basics1.css">
     
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1> basics 1</h1>
        <p>Here we'll look at some fundamental
             syntax rules for JavaScript</p> 
             <h3>Variables</h3>
             <p>
                Variables are used to store information- 
                each holds a value with a specific name. 
             </p>
             <h3>Case Sensitivity</h3>
             <p>
                Everything in JavaScript is case Sensitive
             </p>
             <div class="example1">
                 <code id="keyword_1">let</code> password <br>
                 // is not the same as <br>
                 <code id="keyword_1">let</code> pasSword <br>
                <code id="keyword_1">let</code> PASSWORD
             </div>
             <a href="./pagina_javaScript.html">atras</a>
    </div>

</body>
</html>