<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/normalize.css">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <title>JSON</title>
</head>
<body>
    <div class="contenedor_principal">
<a href="/index.html">inicio</a> 
<br/>-------
<a href="./pagina_javaScript.html">atras</a>
        <h2 class="subtitulo">AQUÍ EMPEZAMOS EL CAPÍTULO 20</h2>
        <a title="ir a página principal" href="index.html">
            <img id=flecha src="./img/flecha1.png" alt="">
            </a>
        
    <span>
        Es un formato basado en texto estándar para representar datos
        estructurados en la sintaxis de objetos de javascript. Comunmente
        es utilizados para transmitir datos en
        aplicaciones web (por ejemplo: enviar 
        algunos datos desde el servidor al cliente, así estos datos pueden
        ser mostrados en páginas web, o vice versa). 
    </span>
    
        <span>estructura json</span>
    <span> impri</span>
    </div>
    <script src="/js/json.js"></script>
</body>
</html>