<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/oops.css">
    <title>Document</title>
</head>
<body>
  ---
<a href="./pagina_javaScript.html">atras</a>
    <p>ES6 introduced a shorthand that does not require the keyword function for a function assigned to a method's name. One type of class method is the prototype method, which is available to objects of the class.
        For Example:</p>
        
<div class="code_editor">
    <div class="lines">
        <span>1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17</span> <br>
        </div>
        <div class="codigo">
            <code><span  class="keyword1">class</span> Rectangle{</code> <br>
                constructor(height, width) {<br>
                  this.height = height;<br>
                  this.width = width;<br>
                } <br>
                
                get area() { <br>
                  return this.calcArea(); <br>
                } <br>
                  <br>
                    calcArea() {<br>
                      return this.height * this.width;<br>
                    } <br>
                  } <br>
                  <br>
                  const square = new Rectangle(5, 5);<br>
                  <br>
                  console.log(square.area); // 25
        </div>
    </div>
    <div class="notas">
        note:in the code above,area is a getter,calcArea is a method
    </div>
</body>
</html>