<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/scss/stilo2.css">
    <link rel="stylesheet" href="css/normalize.css">

    <title>desafio1</title>
</head>
<body>
    <a href="/index.html">página principal</a>
    ---
<a href="./pagina_javaScript.html">atras</a>
    <h1>DESAFIO Nº1</h1>
    <h3>operadores matemáticos</h3>
<div class="contenedor1">
    <!--INICIO DE CARTA-->
    <div class="carta">
        <p>
            Hecho científico!. La velocidad del sonido en el aire es
            aproximadamente 343 metros por segundo.
        </p>
        <p>
            Crea un programa que calcule y 
            envíe a la consola la distancia
            que cubre el sonido en 600 segundos.
        </p>
    <button onclick=resultado2() class="button1">ver solución</button>
    </div>
    <br><br>
    <script src="../js/desafio1.js"></script>
    <p>
        si lo quieres ver abajo toca
        <button class="button1"
        onclick="document.getElementById('demostracion1').style.display='block' ">
        aquí</button> 
    </p>
    <p id="demostracion1" style="display: none;">
        <script >
            document.write( "el resultado es: ", resultado)
        </script>
    </p>
<!--fin de una carta-->
<br><br>
</div>
<div class="contenedor2">
    <div class="item">1</div>
    <div class="item">2</div>
    <div class="item">3</div>
    <div class="item">4</div>
    <div class="item">5</div>
    <div class="item">6</div>

</div>


   
</body>
</html>