<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/desigsystem.css">
    <title>Document</title>
</head>
<body>
    <button 
    type="button"
    class="collapsible"
    >
    diseños
    </button>
        <div class="content">
            <li>
                <a href="./halloween1.html">halloween 1</a>
            </li>
            <li>
                <a href="./periodico1.html">periodico1</a>
            </li>
        </div>
    <hr>
    <br><br>
    
    <!-- script de el acordeon de aqui -->
    <script src="../js/paginaprincipal.js"></script>
</body>
</html>