<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="contenedor1">
        ---
<a href="./pagina_javaScript.html">atras</a>
        <h3>exercise#1</h3>
        <p></p>
        <p>This exercise display the domain name of the server that loaded the document </p>
        <span>the name of the domain is:</span>
        <button onclick="function1()">click here</button>
        <p id="demo1"></p>
        <hr>
        <br>
    </div>
    
    <script>
        function function1(){
            document.getElementById('demo1').innerHTML=document.domain;
        }
    </script>
</body>
</html>