<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/grid1.css">
    <title>Document</title>
</head>
<body>
    <a href="/index.html">volver inicio</a><br><br>---
    <a href="./pagina_javaScript.html">atras</a>
    <div class="grid">
        <div class="card">
            <p class="card-texto">CARTA-- 1</p>
            <p>Lorem ipsum dolor, <br>    sit amet consectetur adipisicing elit. Veritatis, sunt!</p>
        </div>
        <div class="card">
            <p class="card-texto">CARTA-- 2</p>
            <p>Lorem ipsum dolor, <br>    sit amet consectetur adipisicing elit. Veritatis, sunt!</p>
        </div>
        <div class="card">
            <p class="card-texto">CARTA-- 3</p>
            <div class="acordeon-master">
                <input type="radio" id="acordeon0" ><label for="acordeon0">servicios</label>
                <div class="acordeon">
                    <div class="acordeon_item">
                        <input type="radio" name="acordeon" id="acordeon1"><label for="acordeon1" class="acordeon_titulo">titulo 1</label>
                        <p class="acordeon__contenido">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                    </div>
                    <div class="acordeon_item">
                        <input type="radio" name="acordeon" id="acordeon2"><label for="acordeon2" class="acordeon_titulo">titulo 2</label>
                        <p class="acordeon__contenido">Vero reiciendis numquam praesentium dolorum totam aut!</p>
                    </div>
                    <div class="acordeon_item">
                        <input type="radio" name="acordeon" id="acordeon3"><label for="acordeon3" class="acordeon_titulo">titulo 3</label>
                        <p class="acordeon__contenido">Praesentium velit molestias, dolorum omnis eum tenetur.</p>
                    </div>
                    <div class="acordeon_item">
                        <input type="radio" name="acordeon" id="acordeon4"><label for="acordeon4" class="acordeon_titulo">titulo 4</label>
                        <p class="acordeon__contenido">Qui numquam cum vero corporis itaque deleniti.</p>
                    </div>
                    <div class="acordeon_item">
                        <input type="radio" name="acordeon" id="acordeon5"><label for="acordeon5" class="acordeon_titulo">titulo 5</label>
                        <p class="acordeon__contenido">Eaque corrupti ea deserunt dolorem nobis quia.</p>
                    </div>
                </div>
            </div>
            
            
        </div>

        <div class="card">
            <p class="card-texto">CARTA-- 4</p>
            <p>Lorem ipsum dolor, <br>    sit amet consectetur adipisicing elit. Veritatis, sunt!</p>
        </div>
        <div class="card">
            <p class="card-texto">CARTA-- 5</p>
            <p>Lorem ipsum dolor, <br>    sit amet consectetur adipisicing elit. Veritatis, sunt!</p>
        </div>
        <div class="card">
            <p class="card-texto">CARTA-- 6</p>
            <p>Lorem ipsum dolor, <br>    sit amet consectetur adipisicing elit. Veritatis, sunt!</p>
        </div>
    </div>
    <script>
             function funcion1(id){
                 var a=document.getElementById(id);


             }
    </script>
</body>
</html>