<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>import and exports</title>
  </head>
  <body>
    <p>
      aquí vamos a practicar importaciones y exportaciones en el javaScript
      enlazado aquí adentro
    </p>
    <p>encontraará detalles en la dirección de js/import-export</p>
    <script src="../js/import-export/importando.js"></script>
  </body>
</html>
