<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/pagina-js.css">
    <title>JS PAGE</title>
</head>
<body>
    <div class="contenedor_1">
        <ol>
            <li>
                <a href="/index.html">inicio</a>
            </li><hr>
            <br><br>
            <li>
                <a href="./periodico1.html">periodico1</a>
            </li>
            <hr>
            <br><br>
            <li>
                <a href="./iterator.html">iterator es6</a>
            </li>
            <br><br>
            <li>
                <a href="./es6map.html">ES6 MAP</a>
            </li>
            <br><br>
            <li>
                <a href="./dom-demo.html">DOM EXERCISES</a>
            </li>
            <br><br>
            <li>
                <a href="./class-es6.html">class methods in es6</a>
            </li>
            <br><br>
            <li>
                
                <a href="./desafio2.html">desafio 2</a>
            </li>
            <br><br>
            <li>
    
                <a href="./grid1.html">Grid</a>
            </li>
            <br><br>
            <a href="./for-object-array.html">iterando objetos y arrays</a>
            <br/><br/>
            <a href="./arrays2.html">array2</a>
            <br><br>
            <a href="./exportImport.html">export-import components</a>
            <br><br>
            <a href="./referencevsprimitive.html">reference vs primitive</a>
            <br><br>
            <a href="./desafio1.html">DESAFIO Nº1</a>
            <br><br>
            <a href="./thiskeyword.html">capitulo 22 THIS</a>
            <br><br>
            <a href="./funciones.html">capitulo 21 FUNCIONES</a>
            <br><br>
            <a href="./cap20.html">capitulo 20 ESTRUCTURA JSON</a>
            <br><br>
            
        <a href="#cap19" title="toca aquí para 
        que te lleve al capítulo 19">  cap-19-template string</a>
        <br><br>
        <a href="./practica2.html">practicando js básico</a>
        <br><br>
        <a href="./validacion.html">validaciones básicas</a>
        <br><br>
        <li>
            <a href="./practicaingles.html">english practice</a>
        </li>
        <br>
        <li>
            <a href="./oops.html">practice oops</a>
        </li>
        <br>
        <li>
            <a href="./machinelearning.html">machine learning for js</a>
        </li>
        <br><br><br><br><br>
        </ol>
    </div>
    
</body>
</html>