<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/pagina-js.css">
    <title>JS PAGE</title>
</head>
<body>
    <div class="contenedor_1">
        
        <ol>
            <li>
                <a href="/index.html">inicio</a>
            </li><hr>
            <br><br>
            <!-- contenido 1 -->
            <button 
            type="button"
            class="collapsible"
            >
            diseños
            </button>
                <div class="content">
                    <li>
                        <a href="./halloween1.html">halloween 1</a>
                    </li>
                    <li>
                        <a href="./periodico1.html">periodico1</a>
                    </li>
                </div>
            <hr>
            <br><br>
            <!-- contenido 2 beginner-->
            <button 
            type="button"
            class="collapsible"
            >
            beginner
            </button>
            <div class="content">
                <li>
                    <a href="./introduction-js.html">INTRODUCTION</a>
                </li>
                <br><br>
                <li>
                    <a href="./basics1.html">Basics 1</a>
                </li>
                <li>
                    <a href="./switch.html">switch</a>
                </li>
                <br><br>
                
           
            </div>
            <br><br><br>
             <!-- contenido 3 intermediate -->
             <button 
             type="button"
             class="collapsible"
             >
             intermediate
             </button>
             <div class="content">
                 <li>
                     <a href="../js/FetchApi/3/page3fetch.html">fetch api page #3</a>
                 </li>
                 <br><br>
                <li>
                    <a href="./class-es6.html">class methods in es6</a>
                </li>
                <br><br>
                <li>
                    
                    <a href="./desafio2.html">desafio 2</a>
                </li>
                <br><br>
                <li>
        
                    <a href="./grid1.html">Grid</a>
                </li>
                <br><br>
                <li>
                    <a href="./for-object-array.html">iterando objetos y arrays</a>
                </li>
                <br/><br/>
                <li>
                    <a href="./arrays2.html">array2</a>
                </li>
                <br><br>
                <li>
                    <a href="./exportImport.html">export-import components</a>
                </li>
                <br><br>
                <li>
                    <a href="./referencevsprimitive.html">reference vs primitive</a>
                </li>
                <br><br>
                <li>
                    <a href="./desafio1.html">DESAFIO Nº1</a>
                </li>
                <br><br>
                <li>
                    <a href="./thiskeyword.html">capitulo 22 THIS</a>
                </li>
                <br><br>
                <li>
                    <a href="./funciones.html">capitulo 21 FUNCIONES</a>
                </li>
                <br><br>
                <li>
                    <a href="./cap20.html">capitulo 20 ESTRUCTURA JSON</a>
                </li>
                <br><br>
            <li>
                <a href="#cap19" title="toca aquí para 
                que te lleve al capítulo 19">  cap-19-template string</a>
            </li>    
            <br><br>
            <li>
                <a href="./practica2.html">practicando js básico</a>
            </li>
            <br><br>
            <li>
                <a href="./validacion.html">validaciones básicas</a>
            </li>
            <br><br>
            <li>
                <a href="./practicaingles.html">english practice</a>
            </li>
            <br>
            <li>
                <a href="./oops.html">practice oops</a>
            </li>
            <br>
            <li>
                <a href="./machinelearning.html">machine learning for js</a>
            </li>
            <li>
                <a href="./nodos1.html">experimentos1</a>
            </li>
                <li>
                    <a href="./es6map.html">ES6 MAP</a>
                </li>
                <br><br>
                <li>
                    <a href="./dom-demo.html">DOM EXERCISES</a>
                </li>
                <br><br>
                <li>
                    <a href="./iterator.html">iterator es6</a>
                </li>
                <br><br>
             </div>
        
        </ol>
    </div>
    <script src="../js/paginaprincipal.js"></script>
</body>
</html>