<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/periodico1.css">
    <title>periodico pro</title>
</head>
<body>
    <header>
        <h1>BIENVENIDO <br>
             AL CAOS</h1>
        <div class="icons">
            <a href="/">
                <img src="../public/img/back-icon.png" alt="back">
            </a>
            <a href="/">
                <img src="../public/img/roma-home-icon.png" alt="back">
            </a>
            <a href="/">
                <img src="../public/img/after-icon.png" alt="back">
            </a>
        </div>
    </header>
    <div class="contenedor1">
        <div class="children">
            <div class="subtittle">
                <p>Let's Start</p>
            </div>
            <p>
                Esta creación fue hecha pensando
                en practicar mis habilidades mientras
                me divierto,mientras más practico estoy
                seguro que voy a mejorar.
                Tengo una amistad que una vez me
                dijo que la práctica rompe fronteras,
                y a medida de que pasa el tiempo,me
                voy dando cuenta que es cierto,muy cierto.
                Entonces,animo!,démosnos ánimos,y sigamos 
                mejorando.
                Salvemosnos!,hagamosle caso a el sueño,
                que nos decía que nos salvemos.
                
            </p>
        </div>
        <div class="children">
            <img src="../public/img/girl-rockera.jpg" alt="">
            <p>Ahora empezemos practicando cosas
                guays!
                intentaremos hacer efectos nuevos
                    aquí abajo en el boton siguiente
            </p>
            
            <button id="button1">comenzar</button>
        </div>
        <div class="children">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad cupiditate quaerat pariatur, unde nobis delectus maiores dolorem voluptatibus quia nulla natus dolor asperiores cumque, obcaecati rerum aspernatur reiciendis voluptates tempore! Beatae id commodi adipisci harum possimus est corporis reprehenderit vitae explicabo! Deleniti vitae placeat nam doloremque sunt explicabo sapiente ratione asperiores ducimus. Distinctio laborum soluta maxime ipsum facere eius in, reiciendis deleniti, obcaecati, earum id cupiditate sed ipsa vel? Neque quasi odio porro aliquid. Iste officiis illo doloribus, praesentium libero ducimus eveniet porro dolor. Quas quia quos a. Accusamus molestias eius eaque tempora consequatur cumque eveniet ratione est dolor hic.</p>
            
        </div>
        <div class="children">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad cupiditate quaerat pariatur, unde nobis delectus maiores dolorem voluptatibus quia nulla natus dolor asperiores cumque, obcaecati rerum aspernatur reiciendis voluptates tempore! Beatae id commodi adipisci harum possimus est corporis reprehenderit vitae explicabo! Deleniti vitae placeat nam doloremque sunt explicabo sapiente ratione asperiores ducimus. Distinctio laborum soluta maxime ipsum facere eius in, reiciendis deleniti, obcaecati, earum id cupiditate sed ipsa vel? Neque quasi odio porro aliquid. Iste officiis illo doloribus, praesentium libero ducimus eveniet porro dolor. Quas quia quos a. Accusamus molestias eius eaque tempora consequatur cumque eveniet ratione est dolor hic.</p>
            
        </div>
    </div>
</body>
</html>