<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/normalize.css">
    <link rel="stylesheet" href="../public/css/main.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <a href="/">página principal</a>--- <br>
    <a href="./pagina_javaScript.html">atras</a>

    <H1>CAP.10- ARROW FUNCTIONS-FUNCIONES FLECHA</H1>
    <p>son funciones simplificadas con ()=></p>
        
    <h1>juego de desafios javascript</h1>
    <p>What do we have to put instead of the "…" to launch the function greeting in 10 sec?</p>
    <div className="editor-texto">
        function greeting() {<br/>
            console.log('Hello, Mr. Smith!');<br/>
           } <br/>
          
          setTimeout(greeting, ...);<br/>
    </div>
    <p>Enter a number</p>
    <form action="#">
        <label for="input1">---
            <input title="input" type="text" name="" id="input1">
        </label>
        <button onclick="myfunction1()">enviar</button>
    </form>
    <p id="demo1"></p>
    
    <!--Js enlazado al final
        del body como convencion-->
        
        
        <!-- <script type="text/javascript" src="/js/primitivevsreference.js"></script> -->
        <p>click en el siguiente boton</p>
        <input type="button" value="click me" onclick="dialogfunction()">
        <!-- <script src="js/Func-inside-Func.js"></script> -->
        //añadiendo boost

    <script src="../js/validaciones.js"></script>
</body>
</html>