
.container{
    background-color: black;
    color: white;
    height: 100%;
}
#keyword_1{
    color: blueviolet;
}
.example1{
    line-height: 2.5;
    background-color: rgb(46, 46, 46);
    width: 50%;
    border-radius: 15px;
    padding: 10px;
}