html,
body {
  height: 100%;
}
.contenedor_1 {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
}
a {
  color: white;
  font-size: 1.4em;
  line-height: 50px;
}
a:active {
  color: rgb(119, 104, 255);
}
.collapsible {
  cursor: pointer;
  background-color: rgb(111, 0, 255);
  color: rgb(255, 255, 255);
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}
.active,
.collapsible:active {
  background-color: rgb(53, 53, 53);
  color: white;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}
.collapsible {
  font-size: xx-large;
}
ol {
  background-color: black;
}
